[Desktop Entry]
Type=Application
Name=AnonymusRec
Exec=/bin/sh /opt/AnonymusRecorder/base/service.sh
Icon=/usr/share/icons/hicolor/80x80/apps/uploading-anonym.png